body{

   background-color:yellow;
}

header {
    background-color: beige;
    width: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
}

input, select, button { 
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin: 5px;
 }

.results-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
    padding: 20px;
}

.card {
    border-radius: 16px;
    padding: 15px;
    box-shadow: 0 4px 8px;
}

.card img { width: 100%; 
    border-radius: 8px; 
}

.error-msg { color: black;
     text-align: center;
      padding: 20px;
     }

     
